<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/quiz.css">
</head>
<body>
    <div id="question_container">
        <div id="typing">
        </div>
        <div id="error_message">
        </div>
        <div class="input_container">
            <input type="text" id="answer" placeholder="ans.">
            <div id="button_container">
                <button id="back">Back</button>
                <button id="next">Next</button>
                <button id="skip">Skip</button>
            </div>
        </div>
    </div>
    <script src="/js/quiz.js"></script>
</body>
</html>
