<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Main page</title>
  <script src= "/js/pre_render.js"></script>
  <link rel="stylesheet" href= "/css/default.css">
  <link rel="stylesheet" href= "/css/quiz.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <script> 
    var valid_tags = {{ valid_tags | tojson}};
  </script>

</head>
<body>
    <div class="loader"></div>
  <div class="hamburger">
    <div class="spinner diagonal part_1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part_2"></div>
  </div>
  
  <div class="ui_bar">
    <a href="/" id = "hb" class="button"><img src="/images/hb.png" id="hb_pic" alt="Home"></a>
  </div>

  <div id="sn" class="modal"></div>
    <div class="side_nav">
      <a href="/quiz" id="quiz_sn">Quiz</a>
      <a href="/history" id="history_sn">History</a>
      <a href="/register" id="register_sn">Register</a>
      <a id="settings_sn">Settings</a>
      <a href="/logout" id="logout_sn">Log out</a>
      <div class="settings-menu">
        <a href="#" class="settings-option">Change <br> Colour</a>
        <a href="#" class="settings-option">Change <br> Password</a>
        <a href="#" class="settings-option back-button">Back</a>
      </div>
    </div>

    <div id="settings" class="modal">
      <div id="settings_popup" style="display:none;"> 
          <!-- reference: https://www.geeksforgeeks.org/how-to-create-hex-color-generator-using-html-css-and-javascript/ -->
          <div id="change_color" style="display: none;">
            <h2> Change Colour </h2>
            <div class="color_input">
              <label for="color1">Colour 1</label>
              <input type="color" id="color1" name="color1" value="#f3f3f1">
            </div>
            <div class="color_input">
              <label for="color2">Colour 2</label>
              <input type="color" id="color2" name="color2" value="#1b1b17">
            </div>
            <button id="save_button">Save</button>
          </div>
             
          <div id="change_password" style="display: none;">
            <h2>Change Password</h2>
            <form id="password_form">
                <label for="old_password"><b>Old Password</b></label>
                <input id="old_password" type="password" placeholder="Enter Old Password" name="old_password" required>
        
                <label for="new_password"><b>New Password</b></label>
                <input id="new_password" type="password" placeholder="Enter New Password" name="new_password" required>
        
                <label for="confirm_password"><b>Confirm New Password</b></label>
                <input id="confirm_password" type="password" placeholder="Confirm New Password" name="confirm_password" required>
                <div id="password_error">default</div>
                <input type="submit" class="button" value="Save">
            </form>
        </div>
      </div>
      </div>

  <div id="login_form_box" class="modal">
  
    <form id = "login_form" class="modal_content animate" action="/login" method="post" autocomplete="off">
      <div class="x_container">
        <span class="close" title="Close Modal">&times;</span>
      </div>
  
      <div class="container">
        <br>
        <label for="username"><b>Username</b></label>
        <input id = "username" type="text" placeholder="Enter Username" name="username" required>
        <br>
        <label for="password"><b>Password</b></label>
        <input id = "password" type="password" placeholder="Enter Password" name="password" required>
        <div id="login_error"><br></div>
        <button type="submit">Login</button>
  
        <a href="/register" id="register_lg">Register</a>
      </div>
    </form>
  </div> 
    <div id="question_container">
        <div id="typing"> <!-- questions generate here -->
        </div>
        <p id="suggest">(suggestions appear when typed)</p>
        <div class="input_container">
            <input type="text" id="answer" autocomplete="off">
        </div>
        <div id="button_container">
            <button id="back">Back</button>
            <button id="next">Next</button>
            <button id="skip">Skip</button>
        </div>
        <div id="error_message"> <!-- error message generate here -->
        </div>
    </div>
    
    <script src="/js/default.js"></script>
    <script src="/js/quiz.js"></script>
    <img src="/images/anime_manga_bg.png" alt="Your Image" id="quiz_screen_bg" class="background">
</body>
</html>
