<html>
<head>
	<meta charset="UTF-8">
	<title> Register </title>
	<link rel="stylesheet" href= "/css/default.css">	
	<link rel="stylesheet" href= "/css/register.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>		
</head>
<body>
	<div class="ui_bar">
		<div class="hamburger_wrapper">
			<input type="checkbox" class="hamburger" id="hamburger">
			<label for="hamburger" class="hamburger_toggle">
				<div class="spinner diagonal part_1"></div>
				<div class="spinner horizontal"></div>
				<div class="spinner diagonal part_2"></div>
			</label>
		</div>
		<a href="#" id = "hb" class="button"><img src="/images/hb.png" id="hb_pic" alt="Home"></a>
	</div>
	<div class="side_nav">
		<a href="#" class="settings">Settings</a>
		<a href="#" class="history">History</a>
		<a href="#" class="logout">Log out</a>
	</div> 
	<div align="center" class="border">
		<br>
		<div class="header">
			<h1 class="word">Register</h1>
		</div>
		<br>
		<h2 class="word">
		<form action="{{ url_for('register') }}" method="post">
			<div class="msg">{{ msg }}</div>
			<input id="username" name="username" type="text" placeholder="Enter Username" class="textbox"/></br></br>
			<input id="password" name="password" type="password" placeholder="Enter Password" class="textbox"/></br></br>
			<input id="email" name="email" type="text" placeholder="Enter Email ID" class="textbox"/></br></br>
			<input type="submit" class="btn" value="Sign Up"></br>
		</form>
		</h2>
		<p class="bottom">Already have an account? <a class="bottom" id="sign_in_here" href="{{url_for('login')}}"> Sign In here</a></p>
	</div>
	<script src="/js/default.js"></script>
</body>
</html>
