<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Register </title>
	<link rel="stylesheet" href= "/css/default.css">	
	<link rel="stylesheet" href= "/css/register.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>		
</head>
<body>
	<img src="/images/register_screen_bg.png" alt="Your Image" id="register_screen_bg" class="background">
	<div class="ui_bar">
		<a href="/" id = "hb" class="button"><img src="/images/hb.png" id="hb_pic" alt="Home"></a>
	</div>
	<div align="center" class="border">
		<div class="header">
		<h1 class="word">Register</h1>
		</div>
		<form id = register_form autocomplete="off">
			<label for="username"><b>Username</b></label>
			<input id="username" name="username" type="text" placeholder="Enter Username" class="textbox" required/></br></br>
			<label for="password"><b>Password</b></label>
			<input id="password" name="password" type="password" placeholder="Enter Password" class="textbox" required/></br></br>
			<label for="password_2"><b>Confirm Password</b></label>
			<input id="password_2" name="password_2" type="password" placeholder="Enter Password" class="textbox" required/></br></br>
			<div id="register_error"></div>
			<input type="submit" class="button" value="Sign Up"></br>
		</form>
		</h2>
	</div>
	
	<script src="/js/default.js"></script>
</body>
<script src="/js/default.js"></script>
<script src="/js/register.js"></script>
</html>