<html>
<head>
	<meta charset="UTF-8">
	<title> Result </title>
	<link rel="stylesheet" href= "css/default.css">	
	<link rel="stylesheet" href= "css/suggestion.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>		
</head>
<body>
	<div class="hamburger">
		<div class="spinner diagonal part_1"></div>
		<div class="spinner horizontal"></div>
		<div class="spinner diagonal part_2"></div>
	</div>
	<div class="ui_bar">
		<a href="/" id = "hb" class="button"><img src="images/hb.png" id="hb_pic" alt="Home"></a>
	</div>
    <div id = "sn" class="modal"></div>
        <div class="side_nav">
            <a href="register" class="register">Register</a>
            <a href="#" class="settings">Settings</a>
            <a href="#" class="history">History</a>
            <a href="#" class="logout">Log out</a>
        </div> 
	<div align="center" class="border">
		<div class="header">
			<h1 class="word">Found <span id="total_results">1</span> Result(s)</h1>
		</div>
        <div class = "card_wrapper">
            <div class="card">
                <a href="https://www.imdb.com/title/tt1630029/">
                    <div class="poster">
                        <img src="poster.jpg" alt="">
                    </div>
                    <div class="details">
                        <h1 class="logo">Avatar</h1>
                        <h3>Directed by James Cameron</h3>
                        <div class="rating">
                            <span>8/10</span>
                        </div>
                        <div class="tags">
                            <span>Sci-fi</span>
                        </div>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://www.imdb.com/title/tt1630029/">
                    <div class="poster">
                        <img src="poster.jpg" alt="">
                    </div>
                    <div class="details">
                        <h1 class="logo">Avatar2</h1>
                        <h3>Directed by James Cameron</h3>
                        <div class="rating">
                            <span>8/10</span>
                        </div>
                        <div class="tags">
                            <span>Sci-fi</span>
                        </div>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://www.imdb.com/title/tt1630029/">
                    <div class="poster">
                        <img src="poster.jpg" alt="">
                    </div>
                    <div class="details">
                        <h1 class="logo">Avatar3</h1>
                        <h3>Directed by James Cameron</h3>
                        <div class="rating">
                            <span>8/10</span>
                        </div>
                        <div class="tags">
                            <span>Sci-fi</span>
                        </div>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://www.imdb.com/title/tt1630029/">
                    <div class="poster">
                        <img src="poster.jpg" alt="">
                    </div>
                    <div class="details">
                        <h1 class="logo">Avatar4</h1>
                        <h3>Directed by James Cameron</h3>
                        <div class="rating">
                            <span>8/10</span>
                        </div>
                        <div class="tags">
                            <span>Sci-fi</span>
                        </div>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://www.imdb.com/title/tt1630029/">
                    <div class="poster">
                        <img src="poster.jpg" alt="">
                    </div>
                    <div class="details">
                        <h1 class="logo">Avatar5</h1>
                        <h3>Directed by James Cameron</h3>
                        <div class="rating">
                            <span>8/10</span>
                        </div>
                        <div class="tags">
                            <span>Sci-fi</span>
                        </div>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://www.imdb.com/title/tt1630029/">
                    <div class="poster">
                        <img src="poster.jpg" alt="">
                    </div>
                    <div class="details">
                        <h1 class="logo">Avatar6</h1>
                        <h3>Directed by James Cameron</h3>
                        <div class="rating">
                            <span>8/10</span>
                        </div>
                        <div class="tags">
                            <span>Sci-fi</span>
                        </div>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://www.imdb.com/title/tt1630029/">
                    <div class="poster">
                        <img src="poster.jpg" alt="">
                    </div>
                    <div class="details">
                        <h1 class="logo">Avatar7</h1>
                        <h3>Directed by James Cameron</h3>
                        <div class="rating">
                            <span>8/10</span>
                        </div>
                        <div class="tags">
                            <span>Sci-fi</span>
                        </div>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://www.imdb.com/title/tt1630029/">
                    <div class="poster">
                        <img src="poster.jpg" alt="">
                    </div>
                    <div class="details">
                        <h1 class="logo">Avatar8</h1>
                        <h3>Directed by James Cameron</h3>
                        <div class="rating">
                            <span>8/10</span>
                        </div>
                        <div class="tags">
                            <span>Sci-fi</span>
                        </div>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://www.imdb.com/title/tt1630029/">
                    <div class="poster">
                        <img src="poster.jpg" alt="">
                    </div>
                    <div class="details">
                        <h1 class="logo">Avatar9</h1>
                        <h3>Directed by James Cameron</h3>
                        <div class="rating">
                            <span>8/10</span>
                        </div>
                        <div class="tags">
                            <span>Sci-fi</span>
                        </div>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://www.imdb.com/title/tt1630029/">
                    <div class="poster">
                        <img src="poster.jpg" alt="">
                    </div>
                    <div class="details">
                        <h1 class="logo">Avatar10</h1>
                        <h3>Directed by James Cameron</h3>
                        <div class="rating">
                            <span>8/10</span>
                        </div>
                        <div class="tags">
                            <span>Sci-fi</span>
                        </div>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://www.imdb.com/title/tt1630029/">
                    <div class="poster">
                        <img src="poster.jpg" alt="">
                    </div>
                    <div class="details">
                        <h1 class="logo">Avatar11</h1>
                        <h3>Directed by James Cameron</h3>
                        <div class="rating">
                            <span>8/10</span>
                        </div>
                        <div class="tags">
                            <span>Sci-fi</span>
                        </div>
                        <div></div>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://www.imdb.com/title/tt1630029/">
                    <div class="poster">
                        <img src="poster.jpg" alt="">
                    </div>
                    <div class="details">
                        <h1 class="logo">Avatar12</h1>
                        <h3>Directed by James Cameron</h3>
                        <div class="rating">
                            <span>8/10</span>
                        </div>
                        <div class="tags">
                            <span>Sci-fi</span>
                        </div>
                        <div></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
	<script src="js/default.js"></script>
</body>
</html>