/*this is for everything in the main-page*/
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  overflow:hidden;
}

.container {
  position: relative;
  display: inline-block;
}

.image {
  display: block;
  width: auto;
  height: 100vh;
  transform: scale(1.14,1.14);
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(63, 169, 63);
  color: white;
  font-size: 2.5vmin;
  padding: vmin 15vmin 10vmin;
  border: none;
  cursor: pointer;
  border-radius: 1vh;
  text-align: center;
  width: 10vmin;
  height: 5vmin;
}

.start-button:hover {
  background-color: grey;
}

/*loader*/
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  color: #ffffff;
  display: none;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c:linear-gradient(currentColor 0 0);
  background:
    var(--c) 0 0,
    var(--c) 100% 0,
    var(--c) 100% 100%,
    var(--c) 0 100%;
  background-repeat: no-repeat;
  animation: 
    l10-1 2s infinite linear,
    l10-2 2s infinite linear;
}
.loader::after {
  margin:10px;
  transform: scale(-1);
}

@keyframes l10-1 {
  0%   {background-size: 0    4px,4px 0   ,0    4px,4px 0   }
  12.5%{background-size: 100% 4px,4px 0   ,0    4px,4px 0   }
  25%  {background-size: 100% 4px,4px 100%,0    4px,4px 0   }
  37.5%{background-size: 100% 4px,4px 100%,100% 4px,4px 0   }
  45%,
  55%  {background-size: 100% 4px,4px 100%,100% 4px,4px 100%}
  62.5%{background-size: 0    4px,4px 100%,100% 4px,4px 100%}
  75%  {background-size: 0    4px,4px 0   ,100% 4px,4px 100%}
  87.5%{background-size: 0    4px,4px 0   ,0    4px,4px 100%}
  100% {background-size: 0    4px,4px 0   ,0    4px,4px 0   }
}

@keyframes l10-2 {
  0%,49.9%{background-position: 0 0   ,100% 0   ,100% 100%,0 100%}
  50%,100%{background-position: 100% 0,100% 100%,0    100%,0 0   }
}


/*for the hamburger button*/
.hamburger {
  position: fixed;
  top: 1vmin;
  left: 1vmin;
  font-size: 6vmin;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  color:white;
  width: 10vmin;
  height: 10vmin;
}

/* Side navigation menu */
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgb(63, 169, 63);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: black;
}
