body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow:hidden;
  }
  
  .container {
    position: relative;
    display: inline-block;
  }
  
  .background {
    display: block;
    width: auto;
    height: 100vh;
  }
  
/*for the hamburger button*/
  .hamburger {
    position: fixed;
    top: 1vh;
    left: 1vh;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    color:white
  }
  
  /* Side navigation menu */
  .side_nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgb(239, 207, 211);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 80px;
  }
  
  .side_nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .side_nav a:hover {
    color: black;
  }