html * {
  font-weight: bold !important;
  font-family: 'Quicksand', sans-serif !important;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  overflow:hidden;
}

/* Sign in container */
.container {
  padding: 18px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(65, 42, 19);
}

label[for="uname"], label[for="psw"] {
  font-size: 20px; 
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ae947a;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  background-color: rgba(14, 112, 47, 0.9);;
  color: white;
  padding: none;
  border: none;    
  border-radius: 4px;  
  cursor: pointer;
  text-align: center;
  height: 40px;
  width: 80px;
  font-size:20px;
  border: 3px solid;
  border-color: rgba(65, 42, 19);
}

button:hover, #hb:hover {
  opacity: 0.8;
}

#sb {  
  position: absolute;
  top: 20px;
  left: 80px;
  border: 3px solid;
  border-color: rgba(65, 42, 19);
}

#hb {
  background-color: rgba(14, 112, 47, 0.9);
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 3px solid;
  border-color: rgba(65, 42, 19);
}

#hb_pic { 
  border-width: 1.5px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: rgba(65, 42, 19);
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  opacity: 0.9;
  cursor: pointer;
}

#register {
  color: rgba(65, 42, 19);
}

#register:hover {
  color: white;
}

.background {
  display: block;
  width: auto;
  height: 100vh;
}

.ui_bar {
  position: fixed;
  height: 80px;
  width: 100vw;
  padding: 0px;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Hamburger */
.hamburger_wrapper {
  position: absolute;
  z-index: 99;
  top: 20px;
  left: 15px;
  width: 40px;
  height: 40px;
  pointer-events: none;
}

.hamburger_wrapper label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.hamburger_toggle {
  cursor: pointer;
}

.hamburger_wrapper input[type=checkbox],
.hamburger_wrapper label{
  pointer-events: auto;
  transition: all 0.3s;
  box-sizing: border-box;
}

.hamburger {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  top: 16px;
  left: 15px;
  height: 40px;
  width: 40px;
  display: none;
}
  
.spinner{
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 13%;
  width: 100%;
  background-color: white;
  border-radius: 4px;
}

.horizontal{
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  margin-top: 5px;
}
.diagonal.part_1{
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  margin-top: 5px;
}
.diagonal.part_2{
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  margin-top: 5px;
}
input[type=checkbox]:checked ~ .hamburger_toggle > .horizontal{
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .hamburger_toggle > .diagonal.part_1{
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: 15px;
}
input[type=checkbox]:checked ~ .hamburger_toggle > .diagonal.part_2{
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: -15px;
}

/* Side navigation menu */
.side_nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(14, 112, 47, 0.9), rgba(203, 119, 174, 0.9));
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 80px;
}

.side_nav a {
  padding: 8px 32px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  display: block;
  transition: 0.2s;
}

.side_nav a:hover {
  color: rgb(65, 42, 19, 0.9);
}

.x_container {
  text-align: center;
  margin: 10px 0 10px 0;
  position: relative;
}

span.psw {
  float: right;
  padding-top: 30px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(65, 42, 19); /* Fallback color */
  background-color: rgba(65, 42, 19, 0.4); /* Black w/ opacity */
  padding-top: 80px;
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(221, 213, 190);
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 80%; /* Could be more or less, depending on screen size */
  border: 3px solid;
  border-color: rgba(65, 42, 19);
  border-radius: 10px;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
   display: block;
   float: none;
}
}