h1 {
    font-size: 250%;
    margin-top: 110px;
    margin-bottom: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.border {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#sort {
    margin-top: 10px;
    margin-bottom: 30px;
    border: 2px solid;
    border-radius: 4px;  
    border-color: rgba(65, 42, 19);
}

.card {
    position: relative;
    max-width: 320px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    flex: 33.33%;
    border: 3px solid;
    border-color: rgba(65, 42, 19);
    background-color: rgb(245, 245, 237);
    align-items:center ;
    justify-content: center;
}

.card_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    width: 80%; /* adjust the width as needed */
    max-width: 1500px;
    /* margin: 40px 40px 40px 40px; */
    justify-content: center;
    z-index: 1;
    margin-bottom: 50px;
}

.dot-container {
    display: flex;
    justify-content: center;
}
  
.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid rgba(65, 42, 19);
    background-color: rgb(221, 213, 190);
    margin: 10px 10px 0px 10px;
}

.details {
    margin: 10px 10px 10px 10px;
}

.ans, .t_d {
    color: var(--primary_colour);
    margin-bottom: 10px;
}

#suggests_b {
    position: relative;
    left: 112.5px;
    font-size: 15px;
    margin-bottom: 15px;
}

/* changes the card according to window size */
@media (max-width: 1023px) and (min-width: 768px) {
  .card {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 767px) {
  .card {
    flex-basis: 100%;
  }
}