h1 {
    font-size: 250%;
    padding-top: 40px;
    padding-bottom: 20px;
}

#register_form{
    width: 90vw;
    max-width: 300px;
}

#register_error{
    word-wrap: break-word;
    font-size: 15px;
    padding-bottom: 15px;
}
