#settings_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 80%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

#change_color {
  top: 50%;
  left: 50%;
}

.maincolor {
  height: 200px;
  width: 400px;
  background: rgba(65, 42, 19);
  border-radius: 10px;
  display: grid;
  place-items: center;
  color: #fff;
  margin: 15px 15px 15px 15px;
}

.color {
  background-color: none;
  outline: none;
  border: none;
  height: 100px;
  width: 100px;
  cursor: pointer;
}