  .start_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(239, 207, 211);
    color: white;
    font-size: 18px;
    padding: auto;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .start_button:hover {
    background-color: grey;
  }