#start_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(203, 119, 174, 0.9);
  color: white;
  padding: none;
  cursor: pointer;
  text-align: center;
  height: 6vh;
  width: 12vh;
  font-size:3vh;
}

#start_button:hover {
  background-color: rgb(203, 119, 174, 0.9);
}

.ui_bar {
  background-color: transparent !important;
  border: none !important;
}

/*loader*/
.loader {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 40px;
height: 40px;
color: #ffffff;
display: none;
}

.loader::before,
.loader::after {
content: "";
grid-area: 1/1;
--c:linear-gradient(currentColor 0 0);
background:
  var(--c) 0 0,
  var(--c) 100% 0,
  var(--c) 100% 100%,
  var(--c) 0 100%;
background-repeat: no-repeat;
animation: 
  l10-1 2s infinite linear,
  l10-2 2s infinite linear;
}
.loader::after {
margin:10px;
transform: scale(-1);
}
@keyframes l10-1 {
0%   {background-size: 0    4px,4px 0   ,0    4px,4px 0   }
12.5%{background-size: 100% 4px,4px 0   ,0    4px,4px 0   }
25%  {background-size: 100% 4px,4px 100%,0    4px,4px 0   }
37.5%{background-size: 100% 4px,4px 100%,100% 4px,4px 0   }
45%,
55%  {background-size: 100% 4px,4px 100%,100% 4px,4px 100%}
62.5%{background-size: 0    4px,4px 100%,100% 4px,4px 100%}
75%  {background-size: 0    4px,4px 0   ,100% 4px,4px 100%}
87.5%{background-size: 0    4px,4px 0   ,0    4px,4px 100%}
100% {background-size: 0    4px,4px 0   ,0    4px,4px 0   }
}

@keyframes l10-2 {
0%,49.9%{background-position: 0 0   ,100% 0   ,100% 100%,0 100%}
50%,100%{background-position: 100% 0,100% 100%,0    100%,0 0   }
}