h1 {
    font-size: 250%;
    padding-top: 260px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    background-color: rgba(14, 112, 47, 0.9);
    color: white;
    padding: none;
    border: none;    
    border-radius: 4px;  
    cursor: pointer;
    text-align: center;
    height: 40px;
    width: 90px;
    font-size:20px;
    border: 3px solid;
    border-color: rgba(65, 42, 19);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.card {
    position: relative;
    max-width: 320px;
    max-height: 450px;
    min-height: 250px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    flex: 33.33%;
}

.card .poster {
    position: relative;
    overflow: hidden;
}

.card_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 40px 40px 40px 40px;
    justify-content: center;
    max-height: 80vh;
    overflow-y: scroll;
}

.card_wrapper::-webkit-scrollbar {
    display: none;
}

/* The transparent thing in front */
.card .poster::before { 
    content: '';
    position: absolute;
    bottom: -140px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(14, 112, 47), 30%, transparent);
    transition: 0.5s;
    z-index: 1;
}

/* the transparent thing go up upon hover */
.card:hover .poster::before { 
    bottom: 0px;
}

.card .poster img {
    position: relative;
    width: 100%;
    max-height: 100%;
    height: auto;
    transition: 0.5s;
}

/* Brings the poster up upon hover */
.card:hover .poster img {
    transform: translateY(-30px);
    filter: blur(5px);
}

.card .details {
    position: relative;
    bottom: 350px;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
}

/* Bring words go up when hover */
.card:hover .details {
    bottom: 450px;
}

/* logo changing */
.card .details .logo {
    font-size: 300%;
    max-width: 180px;
}

/* just changing the directed by col and font */
.card .details h3 {
    font-size: 0.8em;
    color: #fff;
}

/* added padding to the 3 things */
.card .details .rating {
    position: relative;
    padding: 5px 0;
    color: #fff;
}

.card .details .tags {
    position: relative;
    margin-top: 5px;
}

.card .details .tags span {
    padding: 2px 5px;
    background-color: #fff;
    color: rgba(14, 112, 47);
    border-radius: 4px;
}

@media (min-width: 1024px) {
    .card {
      flex-basis: calc(33.33% - 20px);
    }
  }
  
@media (max-width: 1023px) and (min-width: 768px) {
    .card {
      flex-basis: calc(50% - 20px);
    }
}
  
@media (max-width: 767px) {
    .card {
      flex-basis: 100%;
    }
}