h1 {
    font-size: 250%;
    margin-top: 110px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

#back_button{
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 2;
    height: 30px;
    width: 70;
    font-size: 12px;

}

#refresh_button{
    position: absolute;
    top: 137.5px;
    left: 20px;
    z-index: 2;
    height: 30px;
    width: 70;
    font-size: 12px;
}


/* reference: https://youtu.be/sx0QXhcgplU  */
.card {
    position: relative;
    max-width: 320px;
    max-height: 450px;
    min-height: 250px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    flex: 33.33%;
    
}
  

.card .poster {
    position: relative;
    overflow: hidden;
}

.card .details{
    text-align: center;
}

.card_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    width: 90%; /* adjust the width as needed */
    /* margin: 40px 40px 40px 40px; */
    justify-content: center;
    z-index: 1;
    margin-bottom: 50px;
}

.border {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
  

.card_wrapper::-webkit-scrollbar {
    display: none;
}

/* The transparent thing in front */
.card .poster::before { 
    content: '';
    position: absolute;
    bottom: -140px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(14, 112, 47), 30%, transparent);
    transition: 0.5s;
    z-index: 1;
}

/* the transparent thing go up upon hover */
.card:hover .poster::before { 
    bottom: 0px;
}

.card .poster img {
    position: relative;
    width: 100%; /* set the width to 100% */
    height: 100%; /* set the height to 100% */
    object-fit: cover; /* scale and crop the image to fit the container */
    transition: 0.5s;
}  

/* Brings the poster up upon hover */
.card:hover .poster img {
    transform: translateY(-30px);
    filter: blur(5px);
}

.card .details {
    position: relative;
    bottom: 220px;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
    overflow: hidden; /* hide any text that overflows the element's width */
    white-space: nowrap; /* prevent line breaks within the text */
    text-overflow: ellipsis; /* show an ellipsis if the text overflows */
}
  
.card .details h3 {
    font-size: 0.8em;
    color: #fff;
    overflow: hidden; /* hide any text that overflows the element's width */
    white-space: nowrap; /* prevent line breaks within the text */
    text-overflow: ellipsis; /* show an ellipsis if the text overflows */
}

/* Bring words go up when hover */
.card:hover .details {
    bottom: 340px;
}


/* makes it ... */
.logo {
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

/* added padding to the 3 things */
.card .details .rating {
    position: relative;
    padding: 5px 0;
    color: #fff;
}

.card .details .tags {
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 10px;
    position: relative;
    margin-top: 5px;
}

.card .details .tags span {
    padding: 2px 5px;
    background-color: #fff;
    color: rgba(14, 112, 47);
    border-radius: 4px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

@media (min-width: 1024px) {
    .card {
      flex-basis: calc(33.33% - 20px);
    }
  }
  
@media (max-width: 1023px) and (min-width: 768px) {
    .card {
      flex-basis: calc(50% - 20px);
    }
}
  
@media (max-width: 767px) {
    .card {
      flex-basis: 100%;
    }
}